# Hacky linguist override
# Let GitHub's language detector see our markdown files and jekyll config,
# and stop it from finding includes
*.md linguist-detectable
_config.yml linguist-detectable
_includes/* linguist-vendored=false
*.js linguist-vendored=false
